@media (max-width: 768px) {
    .discount-value {
      top: 20px;
      right: 40px;
    }
    .card-bbt{
      margin-left: 18px;
      
    }
    .card-chht{
      margin-left: -2px;
    }
    .btn-plo{
      margin-left:-40px;
    }
    .owl-nav button.owl-prev span{
     margin-left: 155px;
    }
   
   
  }