@media only screen and (max-width: 600px) {
    .discount-value {
      top: 20px;
      right: 40px;
    }
    .card.card-bbt{
      margin-left: 10px;
    }
    /* .card-chht{
      margin-left: -2px;
    } */
    .btn-plo{
      margin-left:-40px;
    }
    .owl-nav button.owl-prev span{
     margin-left: 140px;
    }
   ul li a{
    margin-left: -20px;
   }
   /* h5{
    margin-left: -20px;
   } */
   .cato{
    margin-left: -33px;
    font-size: 15px;
    font-weight: 750;
    font-family: 'poppins', sans-serif;
   }
   .suppo{
    margin-left: -28px;
    font-size: 15px;
    font-weight: 750;
    font-family: 'poppins', sans-serif;
   }
   .chairy{
    font-size: 15px;
    font-weight: 750;
    font-family: 'poppins', sans-serif;
   }
   .charty-p{
    font-size: 12px;
   }
  }
 
  @media only screen and (max-width: 300px) {
   
    
  }