* {
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
}

.nav-link{
  color: black;
}
.change-text {
  color: rgb(254, 246, 246);
}
body {
  background-color: #fff;
}
body.toggle-btn {
  background-color: #191515;
}

.pro {
  text-align: center;
}
.pox {
  text-align: start;
}
.discount-value {
  position: absolute;
  text-align: center;
  background-color: white;
  color: red;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  top: 60px;
  right: 215px;
}
.price-discount {
  position: relative;
}
.change-tox{
  color: #f6dfdf;
}

.owl-nav button.owl-prev span,
.owl-nav button.owl-next span{
  display: inline-block;
  color: #080606;
  font-size: 32px;
  height: 40px;
  width: 40px;
}
/* .owl-stage {
  margin-left: 20px;
} */
div#slider-1 {
  margin-right: 25px;
}
div#slider-2 {
  margin-left: 1px;
}



